<html>
    <head>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title> Home Page </title>
        <link rel = "stylesheet" href = "../static/css/style1.css">
        <link href = "https://fonts.googleleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel = "stylesheet">
    </head>
    <body>
        <div class = "container">
            <div class="navbar">
                <img src="../static/images/Self Aid-logos/Self Aid-logos_transparent.png" class="logo">
                <nav>
                    <ul class="alink">
                        <li> <a href="/"> HOME </a></li>
                        <li> <a href="/calendar"> HABITICA </a></li>
                    </ul>
                </nav>
                <img src="../static/images/menu.png" class="menu">
            </div>
            <div class="row">
                <div class="col">
                    <h1> SelfAid </h1>
                    <p> Welcome to the world where you will
                        experience the inner peace and happience. Being in 
                        nature, or even viewing scenes of nature, reduces anger, 
                        fear, and stress and increases pleasant feelings.<br><br> Experience 
                        a virtual nature in your pocket
                        <br><br><b>LET'S START...</b></p>
                        
                </div>
                <div class="col">
                    <div class="card card1"><a href="/stress">
                        <h3>MEASURE STRESS LEVEL</h3>
                    </a>
                    </div>
                    <div class="card card2">
                        <a href = "/breathe"><h3> BREATHE PACER </h3></a>
                    </div>
                    <div class="card card3">
                        <a href = "/music"><h3> PEACE YOUR EAR </h3></a>
                    </div>
                    <div class="card card4">
                        <a href = "/book"><h3> LOOK OUT BOOK LIBRARY </h3></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>